<!DOCTYPE html>
<html>
<head>
  <title>VisualMigrate</title>
  <%= stylesheet_link_tag    "visual-migrate/application", :media => "all" %>
  <%= javascript_include_tag "visual-migrate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
