<table id="func_change_table" border="0" style="margin-left:2em;">
  <tr>
    <th width="80em">Func</th>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][name]', 'change_table', :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][table_name]', @migration_func.name, :readonly => true %></td>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][delete]', true, false %>delete　</td>
  </tr>
  <tr>
    <td colspan="4">
      <%= show_change_table_options @migration_func.options %>
    </td>
  </tr>
</table>
