<table border="0" style="margin-left:2em;">
  <tr>
    <th width="100em">MethodName</th>
    <td><%= method_select :migrate_method_name, @mmc.name %></td>
    <td><%= check_box_tag :method_enable, true, @enable %>enable　</td>
  </tr>
</table>
<% @mmc.funcs.each do |func| %>
  <%= show_func(func) %> 
<% end %>
