<table border="0">
  <tr>
    <th width="100em">ClassName</th>
    <td><%= text_field_tag :migration_class_name, @migration_class.name %></td>
    <th width="100em">Parerent</th>
    <td><%= text_field_tag :migraiton_parent_name, @migration_class.parent_name, :size => '40em' %></td>
  </tr>
</table>
<% m_check = Array.new %>
<% @migration_class.methods.each do |key, val| %>
  <%= show_method val %>
  <% m_check << key %>
<% end %>
<% MigrationDefs::MethodNames.each do |mn| %>
  <%= show_disabled_method MigrationDefs::MigrationMethod.new mn if !m_check.include?(mn) %>
<% end %>
