<h3>Migration Files</h3>
<% if !(@migration_files.nil? || @migration_files.blank?) %>
  <ul>
    <% @migration_files.each do |mf| %>
     <li><%= link_to mf.basename, :action => @edit_mode, :id => mf.basename('.rb') %></li>
    <% end %>
  </ul>
<% else %>
  migration files not found.<br />
<% end %>
