<h3>Tables</h3>
<% if !(@tables.nil? || @tables.blank?) %>
  <ul>
    <% @tables.each do |t| %>
     <%= link_to t, :action => :select_table, :id => t %><br />
    <% end %>
  </ul>
<% else %>
  tables not found.<br />
<% end %>
