<h3>Migration Files</h3>
<% if !(@migration_files.nil? || @migration_files.blank?) %>
  <ul>
    <% @migration_files.reverse.each do |mf| %>
      <% if SchemaMigration.where(:version => mf.basename.to_s[0, 14]).first.blank? %>
        <%= link_to mf.basename, :action => @edit_mode.blank? ? 'edit_migration' : @edit_mode, :id => mf.basename('.rb') %>
      <% else %>
        <%= mf.basename %>
      <% end %>
    <% end %>
    <br />
  </ul>
<% else %>
  migration files not found.<br />
<% end %>
