/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#migfiles {
  width: 298px;
  height: 300px;
  border: solid 1px #666;
  overflow: scroll;
  overflow-x : hidden;
  padding: 0;
}

div#migfiles ul {
  width: 278px;
  list-style: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
}

div#migfiles li {
  margin: 0;
  padding: 5px;
  width: 280px;
  list-style: none;
  border-top: none;
  border-bottom: 1px dotted #B1B6B9;
  word-wrap: break-word;
}
